{%extends 'base.html' %}
{% block content %}
    <article>
        <h1>About us</h1>
        <p> {{ my_text }}</p>
        <p> {{ my_number }}</p>

        <ul>
            {% for my_sub_item in my_list %}
                {% if my_sub_item == 123 %}
                    <li>{{ forloop.counter }} - {{ my_sub_item|add:100 }}</li>
                {%  elif  my_sub_item == "ABC" %}
                    <li>{{ forloop.counter }} - is_this_true: value is true</li>
                {%  else  %}
                    <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </article>
{% endblock %}







